.banner_card {
    min-height: 407px;
    display: flex;
    flex-direction: column;

    &__img {
        height: 220px;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-height: 95%;
            max-width: 95%;
            height: auto;
            width: auto;
        }
    }

    &__content {
        padding: 5px;
        min-height: 120px;
        margin: 10px 0;
    }

    &__title {
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 20px;
    }

    &__subtitle {
        font-size: 100;
        font-size: 14px;
    }
}