.banner_item {
    padding: 5px;

    display: flex;
    align-items: center;
    
    &__img {
        border: 1px solid #918f8f;
        margin-right: 10px;

        img {
            max-width: 190px;
            max-height: 190px;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 15px;
    }

    &__subtitle {
        font-size: 100;
        font-size: 14px;
    }

    &__body {
        padding: 5px;
        padding-top: 10px;
        min-height: 160px;
    }
}