.carousel {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    height: auto;
}

.carousel__arrow {
    grid-row: 1/2;

    display: flex;
    align-items: center;
    font-size: 40px;
    z-index: +2;
    cursor: pointer;
    padding: 10px;
    opacity: .5;

    .arrow {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 15px 0;
        color: red;

        img {
            height: 50px;
            width: 20px;
        }
    }

    &:hover {
        //background: rgba(grey, .2);
        opacity: 1;
    }
}

.carousel__arrow_left {
    grid-column: 1/2;
    justify-content: flex-start;
}

.carousel__arrow_right {
    grid-column: 3/4;
    justify-content: flex-end;
    //margin-left: 50%;
}

.carousel__body {
    grid-column: 1/4;
    grid-row: 1/2;
    //z-index: -1;

    height: 100%;
}

.carousel__slides {
    height: 100%;
}

.carousel__slide {
    height: 100%;
    width: 100%;
}