.footer {

    background: #ebedec;
    padding: 10px;

    &__subtitle {
        color: black;
        font-size: 25px;
        font-weight: 700;
    }

    &__info {
        font-size: 12px;
        font-weight: 100;
    }

    &__socials {
        width: max-content;
        display: flex;
        align-items: flex-end;
        font-size: 12px;
        font-weight: 100;

        .label {
            width: max-content;
        } 
    }

    &__rubrics {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 18px;
    }

    &__rubric {
        
    }
}