.tags {
    width: 100%;
    display: flex;
    flex-flow: row wrap;

    &__item {
        margin: 0 1px;
        display: flex;
        flex-flow: row nowrap;
        font-size: 12px;
        
        outline: 1px solid rgb(224, 224, 224);
    }

    &__value {
        padding: 5px;
    }

    &__del {
        cursor: pointer;
        padding: 5px;
        background-color: rgb(136, 135, 135);
        color: white;
    }
}