.banner_big {
    min-height: 410px;
    &__img {
        height: 320px;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-height: 90%;
            max-width: 90%;
            height: auto;
            width: auto;
        }
    }

    &__anons {
        padding: 5px;
    }
}