@media (min-width: 575.98px){
    .hide-sm {
        display: none;
    }
}

@media (min-width: 715px){
    .hide-md {
        display: none;
    }
}

@media (min-width: 991.98px) {
    .hide-lg {
        display: none;
    }
}

@media (min-width: 1199.98px){
    .hide-xl {
        display: none;        
    }
}